.FlexBoxDemo {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.FlexBoxDemo-operation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 16px;
}

.FlexBoxDemo-items {
  flex: 1;
  display: flex;
}

.FlexBoxDemo-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  border-radius: 6px;
  background-color: white;
}

.FlexBoxDemo-item-num {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #419bf9;
  line-height: 20px;
  align-self: center;
  margin-bottom: 10px;
}
